body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
header{
    background-color:  #205E35;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
section{
    margin-top: 110px;
}
.logo img{
    width: 180px; 
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-right: 15px;
}
nav a{
    margin-right: 80px;
    text-decoration: none;
    color: #fff;
}
span{
    margin-left: 50px;
}
span button{
    background-color: orange;
     height: 30px;
     width: 70px;
     border-radius: 5px;
     cursor: pointer;
}

.content{
    background-color: #205E35;
    margin-top: 0;
    padding: 40px 60px;
    display: flex;
    
}
.content h1{
    font-size: 50px;
    color: #fff;
    margin-left: 20%;

}
.content p{
    font-size: 20px;
    color: #fff;
    margin-left: 20%;
    text-align: left;
}
 .icon{
    display: flex;
    align-items: center;
    gap: 40px;
    background: rgba(0,0,0,0.3);
    padding: 15px 30px;
    border-radius: 12px;
    width: fit-content;
    margin-left: 80px;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item i{
    color: #3fd37f;
    font-size: 20px;
}

.item h4{
    color: #ccc;
    font-size: 14px;
    margin: 0;
}

.item p{
    color: white;
    font-size: 14px;
    margin: 0;
}

.search-btn{
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.image img{
     margin-left: 60%;
     border-radius: 100px;
}
.text{
    padding: 40px 60px;
    margin-left: 10%;
    font-size: 30px;
}
.text span1{ 
    color: orange;
}
.xyz{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 40px 60px;
    margin-left: 5%;
    align-items: center;
}
.card{
     background-color: #fff;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
     padding: 15px;
     text-align: left;
     border-radius: 15px;

 }
.card img{
    width: 300px;
    height: 250px;
}
.card h3{
    font-size: 25px;
}
.card button{
    margin-left: 60%;
    padding: 8px 16px;
    background-color: #fff;
    border: 2px solid orange;
    cursor: pointer;
    border-radius: 5px;

}
.card button:hover{
    background-color: orange;

}
.card span3{
    color: orange;
}
 

.abc{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    margin-left: 3%;
}
.logo2 img{
    border-radius:30px;
}
.content2 span2{
    color: orange;
}
.content2 h1{
    font-size: 50px;
    margin-top: 10%;
}
.content2 p,img{
    font-size: 20px;
    border-radius: 10px;
    text-align: left;
}
.aaa,p{
    text-align: center;
    font-size: 25px;

}
.aaa span4{
    color: orange;
}
.bbb img{
    width: 100%;
    height: 170px;
}





